.box{
    width:5cm;
    height: 60px;
    background-color:#f1f1f183;
    padding-top: 1em;
    border-radius: 20cm;
   
    border-left: #f37806;
    list-style: ;
    

}
.nav-itemt{
    text-emphasis-color: red;
}
.card {
    box-shadow: 2px 2px 10px 2px gray;
    margin-bottom: 25px;
    border-radius: 5px;
}

img {
    text-emphasis-color: red;
    border-radius: 10px;
    padding: 10px;
}
.model {
    max-width: 100%;

}
.container {
    
    width: 95%;
    height:100%;
   
    border: none;
    
    
    font-family: Yatra One;
}
.card-title {
    color: rgb(19, 12, 12);
    align-items: center;
    -moz-text-decoration-style: double;
    -ms-text-size-adjust: auto;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    
    
}
.btn-primary{
    color: rgb(0, 0, 0);
    background: #f37806;
    cursor: pointer;
    text-shadow: rgb(218, 31, 31);
    display: flex;
    font-size: 11px;

    font-style: inherit;
    align-items: center;
    text-align: center;
    text-shadow: rgb(218, 31, 31);
    font-weight: bold;
    justify-content: center;
    font-family: "Montserrat-SemiBold";
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    letter-spacing: 2px;
    border: none;
    width: 115px;
    height: 35px;
    margin-right: 19px; 
    border-radius: 18.5px;
}
.form-login {

}
button {
    letter-spacing: 2px;
    border: none;
    width: 130px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #f37806;
    font-size:15px;
    text-shadow: blanchedalmond;

    color: rgb(14, 12, 12);

    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
}

    .form-login {
        display: flex;
        align-items: center;
        margin-left: 23px; 
    }
    button:hover {
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1; }
 .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }
        .checked {
  color: orange;
}
.checked {
    color: orange;
  }
      
  .HEAD {
      background-color: rgba(19, 17, 12, 0.925);
     height: 80px;
      width: auto;
      margin-top: 2px;
      border: red;
      
      
      
  }
  .nav-link {
      color: rgb(218, 31, 31);
      text-shadow: black;
  }
 
  
  .navbar-expand-lg{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }
    h3 {
        font-size: 30px;
        font-style: oblique;
        text-align: center;
        text-shadow: rgb(223, 117, 20);
        font-family: 'Sofia';
    }
   .FOOT {
    background-color: rgba(19, 17, 12, 0.925);
    height: 110px;
     width: auto;
     margin-top: 2px;
     border: red;
     
   }